<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch4.dao.BoardMapper">
        
    <sql id="selectFromBoard">
        select bno,
               title,
               content,
               writer,
               view_cnt,
               comment_cnt,
               reg_date,
               up_date
        from board
    </sql>
        
    <select id="selectId" parameterType="int" resultType="BoardDto">
        <include refid="selectFromBoard"/>
        where bno = #{bno}
    </select>
        
    <select id="selectAll">
        <include refid="selectFromBoard"/>
        ORDER BY reg_date DESC, bno DESC
    </select>
        
    <select id="count" resultType="int">
        select count(*) from board
    </select>

        
    <delete id="deleteAll">
            delete from board
    </delete>
</mapper>
